---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-llvmlibc-*,-cppcoreguidelines-pro-type-union-access'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none


